*{
    box-sizing: border-box;
}

body{
    background: #1E1E1E;
}

input::placeholder{
    opacity: 0.3;
}

.caixa_login{
    padding: 5% 20%;
}

.login_text{
    color: #333333;
    font-family: 'Fira Code', monospace;
    font-size: 18px;
}

.login_input{
    border-bottom: 1px solid gray;
    background-color: #1E1E1E;
}

.login_button{
    font-size: 11px;
    background-color: rgba(203, 234, 227, 0.1);
    border-radius: 10px;
}

.login_button_outros{
    width: 25px;
    background-color: white;
    border-radius: 25px;
    padding: 2px;
    margin-left: 5px;
}